html, body, .contents, main { height:100%; }

//header {
//  background-color: #008F00;
//}

button#logout {
    margin: 0 16px 0 0;
}

.functionArea {
    border: 1px solid #f2f2f2;
    width: 100%;
    height: 100%;
}

#infoSearchKeyword {
    background: #fff url("../img/parts_ico_search.png") no-repeat;
    background-size: contain;
    padding-left: 32px;
    margin: 2px;
    border-radius: 10px;
}

#createInfo {
    color: #FFFFFF;
    background-color: #00B0F0;
    margin: 2px;
    float: right;
}

img.infoReload {
    width: 32px;
    height: 32px;
    float: right;
}

#proviedInfoTable {
    width: 100%;
    margin: 2px;
}
#proviedInfoTable thead th {
    text-align: center;
}
#proviedInfoTable .centering {
    text-align: center;
}
#proviedInfoTable .title {
    width: 30%;
}
#proviedInfoTable th,
#proviedInfoTable td {
    vertical-align: middle;
}


#borderTable .description {
  width: 70%;
}
#borderTable {
  width: 100%;
  margin: 2px;
}
#borderTable thead th {
  text-align: center;
}
#borderTable .centering {
    text-align: center;
}
#borderTable .head th {
  background-color: #d7e2f4;
}
#borderTable th,
#borderTable td {
  vertical-align: middle;
  border: 2px #eeeeee solid;
}
#borderTable tr:nth-child(odd) {
  background-color: #f7fbff;
}
