html, body, .contents, main { height:100%; }

//header {
//  background-color: #008F00;
//}

button#logout {
  margin: 0 16px 0 0;
}

.functionArea {
  border: 1px solid #f2f2f2;
  width: 100%;
  height: 100%;
}

.searchIcon {
  float: left;
  position: relative;
  padding-left: 7px;
  margin-right: -40px;
  margin-top: 5px;
  font-size: 24px;
}

.refleshIcon {
  position: relative;
  margin-top: 1px;
  font-size: 32px;
}

#infoSearchKeyword {
  background: #fff url("../img/parts_ico_search.png") no-repeat;
  background-size: contain;
  padding-left: 32px;
  margin: 2px;
  border-radius: 10px;
}

#createInfo {
  color: #FFFFFF;
  background-color: #00B0F0;
  margin: 2px;
  float: right;
}

img.infoReload {
  width: 32px;
  height: 32px;
  float: right;
}

#proviedInfoTable {
  width: 100%;
  margin: 2px;
}
#proviedInfoTable thead th {
  text-align: center;
}
#proviedInfoTable .centering {
  text-align: center;
}
#proviedInfoTable .title {
  width: 30%;
}
#proviedInfoTable th,
#proviedInfoTable td {
  vertical-align: middle;
}


.borderTable .description {
  width: 70%;
}
.borderTable {
  width: 100%;
  margin: 2px;
}
.borderTable thead th {
  text-align: center;
}
.borderTable .flushleft {
  text-align: left;
}
.borderTable .head th {
  background-color: #d7e2f4;
}
.borderTable th,
.borderTable td {
  text-align: center;
  vertical-align: middle;
  border: 2px #eeeeee solid;
}
.borderTable tr:nth-child(odd) {
  background-color: #f7fbff;
}


#editModal ul li {
  list-style-type: square;
  padding-top: 10px;
  padding-bottom: 2px;
}
#editModal table {
  width: 100%;
  background-color: #ffffff;
  border: 0px;
}
#editModal th {
  width: 50%;
  background-color: #ffffff;
  border: 0px;
}

#searchKeywordBox {
  background-size: contain;
  padding-left: 32px;
  margin: 2px;
  border-radius: 10px;
}

.inputFileForm {
  margin: 15px;
}

.inputFileForm p {
  display: inline;
}

#errorMessage i {
  color: red;
}
