html, body, .contents, main { height:100%; }

#editor {overflow:scroll; max-height:300px}

button#logout {
  margin: 0 16px 0 0;
}

.functionArea {
  border: 1px solid #f2f2f2;
  width: 100%;
  height: 100%;
}

.searchIcon {
  float: left;
  position: relative;
  padding-left: 7px;
  margin-right: -40px;
  margin-top: 5px;
  font-size: 24px;
}

.refleshIcon {
  float: right;
  position: relative;
  margin-top: 4px;
  font-size: 30px;
}

#createInfo {
  color: #FFFFFF;
  background-color: #00B0F0;
  margin: 2px;
  float: right;
}

.borderTable .description {
  width: 70%;
}
.borderTable {
  width: 100%;
  margin: 2px;
}
.borderTable thead th {
  text-align: center;
}
.borderTable .flushleft {
  text-align: left;
}
.borderTable .head th {
  background-color: #d7e2f4;
}
.borderTable th,
.borderTable td {
  text-align: center;
  vertical-align: middle;
  border: 2px #eeeeee solid;
  padding: 5px 15px 5px 15px;
}
.borderTable tr:nth-child(odd) {
  background-color: #f7fbff;
}

.bottomMarginBox {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.leftFloatBox {
  float: left;
  margin-left: 5%;
  margin-bottom: 20px;
}

.rightFloatBox {
  float: right;
  margin-right: 5%;
  margin-bottom: 20px;
}

#modal-situationAggregate table td{
  padding: 5px 5px 5px 5px;
}

#modal-infoEditor table {
  width: 100%;
  background-color: #ffffff;
  border: 0px;
}

#modal-infoEditor table th{
  background-color: #ffffff;
  border: 0px;
  padding: 15px 0px 5px 0px;
}

#modal-infoEditor table td {
  border: 0px;
  padding: 0px 0px 0px 0px;
}

.editor {overflow:scroll; max-height:300px}


#editModal ul li {
  list-style-type: square;
  padding-top: 10px;
  padding-bottom: 2px;
}

#editModal table {
  width: 100%;
  background-color: #ffffff;
  border: 0px;
}
#editModal th {
  width: 50%;
  background-color: #ffffff;
  border: 0px;
}

#searchKeywordBox {
  background-size: contain;
  padding-left: 32px;
  margin: 2px;
  border-radius: 10px;
}

.jqte {
  margin: 5px 0;
}
.jqte_tool.jqte_tool_1 .jqte_tool_label {
  height: 28px;
}
.jqte_editor {
  height: 150px;
  max-height: 150px;
  resize: none;
}

#infoDatepicker {
  vertical-align: middle;
}

.inputFileForm {
  margin: 15px;
}

.inputFileForm p {
  display: inline;
}

#errorMessage i {
  color: red;
  margin-bottom: 15px;
}

.loadingIcon {
  text-align: center;
  font-size: 30px;
}

.confirmMessage {
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.successMessage {
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: blue;
}

.faildMessage {
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: red;
}

#fileName {
  font-size: 12px;
  font-weight: bolder;
}
